<%- include('partials/header') %>

<body>
    <div style="width: 500px;margin-left: 450px;">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p class="lead" style="color: #f5622c;">Please Enter the following details: </p>
            <form action="/donate" method="post">
              <div class="form-group">
                <label for="name"> Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Full Name">
              </div>
              <div class="form-group">
                <label for="cardno">Card Number:</label>
                <input type="number" class="form-control" id="cardno" placeholder="Card number">
              </div>
              <div class="form-group">
                <label for="amt">Amount:</label>
                <input type="number" class="form-control" id="amt" placeholder="Amount">
              </div>
              <div class="form-group">
                <label for="location">CVV</label>
                <input type="number" class="form-control" id="location" placeholder="CVV">
              </div>
              <div class="form-group">
                <label for="image">Expiry Date</label>
                <input type="text" class="form-control" id="image">
              </div>


              <br>
            <button style="background-color: #f5622c;" class="btn" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        
      </div>
      <div class="modal-body">
        Thank you for Donating!
      </div>
      <div class="modal-footer">
        
        <a type="button"  href="/ngos" class="btn btn-primary">NGO list</a>
      </div>
    </div>
  </div>
</div>
</body>

<%- include('partials/footer') %>
