<%- include('partials/header') %>

<title>Events</title>
<body>
    <div style="background-color: #f5622c;color: white;" class="jumbotron">
        <h2>Events</h2>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <h6 class="card-subtitle mb-2 text-muted">Event Ka data</h6>
          <p class="card-text">Event kaha par hai kitne baje</p>
          
        </div>
      </div>
</body>
<%- include('partials/footer') %>