<%- include('partials/header') %>

<body style="background-color: whitesmoke;" >
  <div style="background-color: #f5622c;" class="jumbotron">
      <h2 style="color: white;" >Sign Up</h2>
  </div>
  <div style="margin-left: 400px;">
  <div class="shadow p-3 mb-5 bg-white rounded">
      <form action="/register/user" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">     
        </div>
          <div class="form-group">
              <label for="name">Email</label>
              <input type="email" class="form-control" name="username" id="email" placeholder="Enter Email">     
            </div>
            <div class="form-group">
              <label for="number">Contact Number</label>
              <input type="number" class="form-control" id="number" name="number" placeholder="Enter Contact Number">     
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button style="background-color: #f5622c;" class="btn" type="submit" >Submit</button>
            <!-- <button class="loginBtn loginBtn--google">
              Login with Google
            </button> -->
      </form>
  </div>
</div>


<%- include('partials/footer') %>
