<%- include('partials/header') %>
<body style="background-color: whitesmoke;" >
    <div style="background-color: #f5622c;" class="jumbotron">
        <h2 style="color: white;text-align: center;" >Sign Up as NGO</h2>
    </div>
    <div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <form action="/register/ngo" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
          </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" name="username" id="email" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="name">Description</label>
                <input type="text" class="form-control" name="description" id="email" placeholder="Enter Description">
              </div>
              <div class="form-group">
                <label for="name">Website</label>
                <input type="text" class="form-control" name="link" id="email" placeholder="Enter Website url">
              </div>
              <button style="background-color: #f5622c;" class="btn" type="submit" >Submit</button>
        </form>
    </div>
  </div>
  </body>
  <%- include('partials/footer') %>
