<body style="background-color: whitesmoke;" >
    <div style="background-color: #f5622c;" class="jumbotron">
        <h2 style="color: white;text-align: center;" >Sign Up as NGO</h2>
    </div>
    <div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">     
          </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email">     
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter Location">                   
              </div>
            <div class="form-group">
                <label for="ngoname">Description</label>
                <textarea class="form-control" id="discription" placeholder="Enter Discription" ></textarea>                   
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="number">Contact Number</label>
                <input type="number" class="form-control" id="number" placeholder="Enter Contact Number">     
              </div>
              <div class="form-group">
                <label for="ngoname">Website Link</label>
                <input type="text" class="form-control" id="discription" placeholder="Enter Discription" ></input>                   
            </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button style="background-color: #f5622c;" class="btn" type="submit" >Submit</button>
        </form>
    </div>
  </div>
  </body>